@{
    ViewData["Title"] = "Reservar";
}


<form method="post" action='@Url.Action("Reservar","Home")' enctype="multipart/form-data">
    <p>
        Fecha de Ingreso <br/>
        <input type="date" name="fechaIN_"/>
        <br/>
        Fecha de Salida <br/>
        <input type="date" name="fechaOUT_"/>
        <br/>
        <label for="fkHotel_">¿Qué Hotel buscas?</label><br/>
        <select name="fkHotel_" id="fkHotel_">
            <option value="hotel1">Hotel 1</option>
            <option value="hotel2">Hotel 2</option>
            <option value="hotel3">Hotel 3</option>
        </select>
        <label for="fkHabitacion_">¿Qué Habitación quieres?</label><br/>
        <select name="fkHabitacion_" id="fkHabitacion_">
            <option value="habi1">Habi 1</option>
            <option value="habi2">Habi 2</option>
            <option value="habi3">Habi 3</option>
        </select>
        <input type="file" name="Comprobante_" />
    </p>
</form>