html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.formReserva{
  text-align: center;
}

.logoStyle{
  width: 8.5%;
  height: auto;
  float: left;
  margin-left: 1%;
}


.centrarImg{display: block; padding-left: 50%;}

.textCenter{
  text-align: center;
}

.specialFont{
  font-family: '';
}

.interletrado{
  letter-spacing: 2.5px;
}

.floatCenter{
  float: center;
}