html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.formReserva{
  text-align: center;
}

.logoStyle{
  width: 8.5%;
  height: auto;
  float: left;
  margin-left: 1%;
}

.center{
  align-items: center;
}

.fondoVerde{
  background-color: #487c5c;
}
.specialFont{
font-family: Attorney Regular;
}
.interletrado{
  letter-spacing: 2.5px;
}

.sizeXL{
  font-size:x-large;
}

.sizeL{
  font-size:large ;
}
.textCenter{
  text-align: center;
}