html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  width: 70%;
  margin: 0 auto;
}

.formReserva{
  text-align: center;
}

.margenero{
  margin-right: 2%;
}

.rowa{
  margin-left: 0%;
  padding-left: 0%;
}

.logoStyle{
  width: 8.5%;
  height: auto;
  float: left;
  margin-left: 1%;
}

.tamano{
  margin-top: 4%;
  width: 30%;
  height: 15%;
  background-color: #487c5c;
}

.centroo{
  display: flex;
  justify-content: center;
}

.centerito{
  text-align: center;
}

.center{
  align-items: center;
}

.fondoVerde{
  background-color: #487c5c;
}
.specialFont{
font-family: Attorney Regular;
}
.interletrado{
  letter-spacing: 2.5px;
}

.sizeXL{
  font-size:x-large;
}

.sizeL{
  font-size:large ;
}
.textCenter{
  text-align: center;
}